/TurnsPOC/nbproject/private/
/TurnsPOC/TurnsPOC-war/nbproject/private/
/TurnsPOC/TurnsPOC-ejb/nbproject/private/
/TurnsPOC/TurnsPOC-ejb/build/
/TurnsPOC/TurnsPOC-ejb/dist/
/source/jax-ws-poc/CalculatorWSApplication/build/
/source/jax-ws-poc/CalculatorWSApplication/nbproject/private/
/source/jax-ws-poc/CalculatorWS_Client_Application/build/
/source/jax-ws-poc/CalculatorWS_Client_Application/nbproject/private/
/source/jax-ws-poc/InterceptorExample/build/
/source/jax-ws-poc/InterceptorExample/nbproject/private/
/source/jax-ws-poc/JsfJpaCrud/build/
/source/jax-ws-poc/JsfJpaCrud/nbproject/private/
/source/jax-ws-poc/TheModelApp/build/
/source/jax-ws-poc/TheModelApp/dist/
/source/jax-ws-poc/TheModelApp/nbproject/private/
/source/jax-ws-poc/TheWebApp/build/
/source/jax-ws-poc/TheWebApp/dist/
/source/jax-ws-poc/TheWebApp/nbproject/private/
/source/jax-ws-poc/CalculatorWS_Client_Application/dist/
/source/jpa-poc/JPATest/nbproject/private/
/source/jpa-poc/JPATest/build/
/source/interceptor-poc/InterceptorExample/build/
/source/interceptor-poc/InterceptorExample/nbproject/private/
/TurnsPOC/TurnsPOC-ejb/dist/
/source/TurnsPOC/nbproject/private/
/source/TurnsPOC/TurnsPOC-war/nbproject/private/
/source/TurnsPOC/TurnsPOC-ejb/nbproject/private/
/source/TurnsPOC/TurnsPOC-ejb/build/
/source/TurnsPOC/TurnsPOC-ejb/dist/
/source/TurnsPOC/dist/
/source/TurnsPOC/build/
/source/TurnsPOC/TurnsPOC-war/build/
/source/TurnsPOC/TurnsPOC-war/dist/
/source/TurnPOC-client/nbproject/private/
/source/TurnPOC-client/build/
/source/TestClient/nbproject/private/
/source/ApplicationClient/nbproject/private/
/source/ApplicationClient/build/
/source/ApplicationClient/dist/
/source/jax-rs-poc/SimpleRESTweb/nbproject/private/
/source/TurnsPOC/TurnsPOC-data/build/
/source/TurnsPOC/TurnsPOC-data/dist/
/source/TurnsPOC/TurnsPOC-data/nbproject/private/